.nav-article article > div:first-of-type.guide {
  /*The 2 below where set as part of nav-article (first-of-type).
   * This was setting a padding and max-width 760px for the main div.
   * In guids, the main div consists of 2 divs: main + playground.
   * We set the padding and max-width in the main class*/
  padding: 0;
  max-width: inherit;
}

.guide {
  height: 100%;
  overflow-x: hidden;
  position: relative;
}

.guide .main {
  position: absolute;
  overflow-y: auto;
  top: 0;
  bottom: 0;
  /*Read comments for .nav-article article > div:first-of-type.guide:*/
  max-width: calc(min(100%, 800px)); /*760px +20px + 20px*/
  padding: 20px;
  box-sizing: border-box; /* This will make sure that the padding and border are included in the overall width of the element, so that the max-width value takes them into account*/
  z-index: 0;
}
.guide .main .show-playground-button {
  z-index: 1;
  position: sticky;
  float: right;
  right: 20px;
  top: 0;
}
.guide .main .show-playground-button:after {
  content: 'Issues? Use Chrome & No Ad Blockers';
  display: block;
  font-size: small;
  position: absolute; /* This takes the ::after content out of the normal flow */
  top: 100%; /* This positions the ::after content just below the button */
  color: black;
  text-align: center; /* This centers the text within the ::after content */
  font-size: 9px;
  left: 0;
  font-weight: normal;
  line-height: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  text-transform: none;
  margin-top: 2px;  /* This adds some vertical padding */
  white-space: nowrap; /* Prevents the text from wrapping */
  left: 50%; /* Positions the left edge of the content box to the middle of the button */
  transform: translateX(-50%); /* Shifts the content box to the left by half its width */
}

.guide .playground {
  position: absolute;
  overflow: hidden;
  background-color: white;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding-left: 4px; /*so that the box-shadow of the menu on the left can be seen*/
  transition: all 0.5s ease-in-out;
  transform: translateX(-100%);
  z-index: 1;
}

.guide.playgroundOn .playground {
  transform: translateX(0);
}

.guide .playground .playground-header {
  color: #f7931a;
  display: flex;
  justify-content: right;
  align-items: center;
  cursor: pointer;
  width: 100%;
  background-color: white;
  line-height: 2.8rem;
  margin: 0.5rem;
  max-width: 1280px;
  font-size: 1.6rem;
  font-weight: 600;
}
.guide .playground .playground-header .playground-cross {
  height: 2.2rem;
  margin-left: 0.6rem;
  margin-right: 0.6rem;
}
.guide .playground iframe {
  max-width: 1280px; /*codesandbox kind of buggy above 1280*/
  width: 100%;
  height: 100%;
  border: 0;
  overflow: hidden;
}
